@model IEnumerable<Library.Web.Data.Entities.Book>

@{
    ViewData["Title"] = "Libros";
}

<h1>Libros</h1>


<a class="btn btn-info" asp-action="Create">Nuevo Libro</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha de publicación</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.PublishDate</td>
                <td>@item.Author.FullName</td>
                
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:contents">
                        <button class="btn btn-danger btnDelete">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({
                    title: "¿Desea eliminar el Libro?",
                    text: "No prodrá revertirlo",
                    icon: "question",
                    showCancelButton: true,
                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }

                });

            });

        });

    </script>
}